/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background: #fff;
	text-rendering: optimizeLegibility;
	color: #555;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	line-height: 1.15;
	font-size: 12px;
}

.grades-table-container {
	margin: 20px auto;
	width: 95%;
}

.grades-table {
	text-transform: uppercase;
}

.grades-table tr th,
.grades-table tr td {
	border: 1px solid #000;
	padding: 0.5em;
	vertical-align: bottom;
}

.grades-table th {
	font-weight: bold;
}

.grades-table {
  border-collapse: collapse;
  width: 100%;
}


.grades-table td {
  text-align: center;
  border: 1px solid #ccc;
}
.csstransforms .grades-table th.rotate {
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.csstransforms .grades-table th.rotate > div {
  -webkit-transform: translate(0px, -10px) rotate(270deg);
      -ms-transform: translate(0px, -10px) rotate(270deg);
          transform: translate(0px, -10px) rotate(270deg);
  width: 30px;
}

.grades-table th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.grades-table .no-border {
	border: none;
}

.grades-table .grade-table-input {
	border: none;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	text-transform: uppercase;
	font-size: 12px;
}

.grades-table .grade-table-input:focus,
.grades-table .grade-table-input:active {
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
}

.grades-table .multiple-assignment-header,
.grades-table .assignment-part-header {
	position: relative;
}

.grades-table .multiple-assignment-header {
	background: #555;
	color: #fff;
}

.grades-table .assignment-part-header.selected {
	background: #ac4142;
	color: #fff;
}

.grades-table .multiple-button {
	position: absolute;
	top: 2px;
	right: 2px;
	background: #F7F7F7;
	padding: 2px;
	border-radius: 2px;
	color: #868686;
	text-decoration: none;
	font-weight: normal;
	border: 1px solid #531D1E;
}

.grades-table .multiple-button.active {
	background: #ac4142;
	color: #fff;
}

.tabs {
	background: #363636;
	padding-left: 10px;
	padding-top: 10px;
}


.tabs .tabby-tab {
	background: #4E4E4E;
	border-top: 1px solid black;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: none;
	margin: 0;
	padding: 7px;
	color: #fff;
}

.tabs .tabby-tab.active {
	background: #fff;
	color: #363636;
}

.sortable {
	background: url("images/arrow_up_down_sort.gif");
	height: 12px;
	width: 14px;
	display: inline-block;
	float: right;
}

.dragtable-drag-handle {
	height: 10px;
	width: 10px;
	background: red;
}